body {
  font-family: sans-serif;
  background-color: #f0f8ff;
  text-align: center;
}
#gameContainer {
  width: 90vw;
  height: 60vh;
  margin: 20px auto;
  border: 2px solid #333;
  background-color: #a0d8f0;
}
h1 {
  color: #006400;
}
button {
  border-radius: 10px;
  opacity: 0.8;
}
